.details.txt
planning-questions.md
.env
venv
dependencies/*
rotater.py
temp/
**/.vscode/
**/*.pyc
**/.vscode
**/*_cache
**/*pycache
*coverage*
venv/
*.zip
**/.terraform*
terraform/init.sh
*.tfstate*
.env
**pycache**
packages/*